.codeframe {
    display: block;
    position: fixed;
    font-size: 15px;
    text-align: left;

    border-radius: 10px;
    height: 98%;
    width: 98%;
    font-family: monospace;
}

.linenumber {
    color: #abb2bf;
    width: 24px;
    display: inline-block;
    text-align: right;
}