.header {
  text-align: left;
  font-family: monospace;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  span {
    display: flex;
    padding: 5px;
  }
}
