
.mtk1 { color: #abb2bf; }
.mtk2 { color: #282c34; }
.mtk3 { color: #e06c75; }
.mtk4 { color: #c678dd; }
.mtk5 { color: #d19a66; }
.mtk6 { color: #e5c07b; }
.mtk7 { color: #61afef; }
.mtk8 { color: #98c379; }
.mtk9 { color: #5c6370; }
.mtk10 { color: #56b6c2; }
.mtk11 { color: #ffffff; }
.mtk12 { color: #f44747; }
.mtk13 { color: #7f848e; }
.mtki { font-style: italic; }
.mtkb { font-weight: bold; }
