html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgb(40, 44, 52);
}

.content {
    padding-left: 1%;
    padding-top: 0.5%;
    position: relative;
}