html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  #root {
    height: 100%;
    width: 100vw;
    position: relative;
    .content {
      height: 100%;
      width: 100vw;
      position: relative;

      .mtk1 {
        color: #e1e4e8;
      }
      .mtk2 {
        color: #24292e;
      }
      .mtk3 {
        color: #6a737d;
      }
      .mtk4 {
        color: #79b8ff;
      }
      .mtk5 {
        color: #b392f0;
      }
      .mtk6 {
        color: #85e89d;
      }
      .mtk7 {
        color: #f97583;
      }
      .mtk8 {
        color: #9ecbff;
      }
      .mtk9 {
        color: #ffab70;
      }
      .mtk10 {
        color: #fdaeb7;
      }
      .mtk11 {
        color: #dbedff;
      }
      .mtk12 {
        color: #86181d;
      }
      .mtk13 {
        color: #144620;
      }
      .mtk14 {
        color: #c24e00;
      }
      .mtk15 {
        color: #2f363d;
      }
      .mtk16 {
        color: #d1d5da;
      }
      .mtk17 {
        color: #6796e6;
      }
      .mtk18 {
        color: #cd9731;
      }
      .mtk19 {
        color: #f44747;
      }
      .mtk20 {
        color: #b267e6;
      }
      .mtki {
        font-style: italic;
      }
      .mtkb {
        font-weight: bold;
      }
      .mtku {
        text-decoration: underline;
        text-underline-position: under;
      }
      .ced-1-TextEditorDecorationType311-1 {
        color: orchid !important;
      }
      .ced-1-TextEditorDecorationType310-1 {
        color: gold !important;
      }
    }
  }
}
