.resume-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 25px;
  background-color: #282c34;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.header-container {
  height: 10%;
  width: 100%;
  display: flex;
}

.body-container {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  .col {
    display: flex;
    width: 50vw;
    height: 100%;
  }
}

.syamjith-container {
  height: 200px;
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  background-color: white;
  transform-style: preserve-3d;
  justify-content: center;
}

.syamjith-image {
  height: 190px;
  transform: translateZ(20px);
  display: flex;
}
